*
!.gitignore
!.gitmodules
!.gitkeep

!LICENSE
!*.md

!CMakeLists.txt

!Makefile

!bin/
!bin/**/
!bin/**/*.c
!bin/**/*.cc
!bin/**/*.cpp
!bin/**/*.cxx
!bin/**/*.h
!bin/**/*.hh
!bin/**/*.hpp
!bin/**/*.hxx
!lib/
!lib/**/
!lib/**/*.c
!lib/**/*.cc
!lib/**/*.cpp
!lib/**/*.cxx
!lib/**/*.h
!lib/**/*.hh
!lib/**/*.hpp
!lib/**/*.hxx

!include/
!include/**/
!include/**/*.h
!include/**/*.hh
!include/**/*.hpp
!include/**/*.hxx
